

.canvas-container {
  position: relative;
  margin: auto;
}

#graph-canvas {
  float: left;
  // border: thin red solid;
}

.graph-header {
    margin: 0;
    float: left;
    margin-bottom: 0.3em;
    font-size: 20pt;
}

#graph-msg-left {
  width: 20%;
  text-align: left;
}

#graph-msg-right {
    width: 20%;
    text-align: right;
}
#graph-msg-center {
    width: 60%;
    text-align: center;
}

#graph-msg-bottom {
    width: 100%;
    font-size: 16pt;
    // font-weight: bold;
    text-align: center;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.body-text {
    max-width: 700px;
}
#graph-score, #graph-moves {
  font-weight: bold;
}



/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-40px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-40px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#successLoad {
  display: none;
  text-align: center;
}


/********************************************************************/
/* Generic element styles                                           */
/********************************************************************/

body {
    padding:0px;
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 15pt;
}

h1 {
    margin-top: 0px;
}


/* text styling */
strong {
  font-weight: 600;
}

ul {
    margin: 0;
}

ol.insructions > li {
    margin: 1em 0;
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}

/* these are all the same for now, but easy to modify individually */
#container-ad, #container-error, #container-exp, #container-consent, #container-instructions, #container-questionnaire {
    background: white;
    margin: 30px;
}

/* ad.html  - the ad that people view first */
#adlogo {
    width: 200px;
    padding: 2px;
}

/* consent.html - the consent form */
.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

.spacer {
    clear: both;
}

/********************************************************************/
/* Index slide components                                           */
/********************************************************************/

img.logo { height: 6.25em; }

#consent {
    padding-left: 4%;
    padding-right: 4%;
    margin: 1.5em 0;
    text-align: justify;
}

span.consent {
    font-color: red;
}

/********************************************************************/
/* Finished slide components                                        */
/********************************************************************/

#submit_error_slide {
    display: none;
}

#resubmit_slide {
    display: none;
}

/********************************************************************/
/* Error                                                            */
/********************************************************************/

#error-message {
    background-color: #FEA;
    padding: 0 0.625em;
    border: 1px solid black;
    margin: 0.625em;
}